$open-sans: 'Open Sans', sans-serif
$anonymous-pro: 'Anonymous Pro', monospace


@font-face
  font-family: 'Open Sans'
  src: url('global/fonts/open_sans/opensans-bold-webfont.eot')
  src: url('global/fonts/open_sans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('global/fonts/open_sans/opensans-bold-webfont.woff2') format('woff2'), url('global/fonts/open_sans/opensans-bold-webfont.woff') format('woff'), url('global/fonts/open_sans/opensans-bold-webfont.ttf') format('truetype'), url('global/fonts/open_sans/opensans-bold-webfont.svg#Open+Sans') format('svg')
  font-weight: 700
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Open Sans'
  src: url('global/fonts/open_sans/opensans-bolditalic-webfont.eot')
  src: url('global/fonts/open_sans/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('global/fonts/open_sans/opensans-bolditalic-webfont.woff2') format('woff2'), url('global/fonts/open_sans/opensans-bolditalic-webfont.woff') format('woff'), url('global/fonts/open_sans/opensans-bolditalic-webfont.ttf') format('truetype'), url('global/fonts/open_sans/opensans-bolditalic-webfont.svg#Open+Sans') format('svg')
  font-weight: 700
  font-style: italic
  font-display: swap

@font-face
  font-family: 'Open Sans'
  src: url('global/fonts/open_sans/opensans-italic-webfont.eot')
  src: url('global/fonts/open_sans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('global/fonts/open_sans/opensans-italic-webfont.woff2') format('woff2'), url('global/fonts/open_sans/opensans-italic-webfont.woff') format('woff'), url('global/fonts/open_sans/opensans-italic-webfont.ttf') format('truetype'), url('global/fonts/open_sans/opensans-italic-webfont.svg#Open+Sans') format('svg')
  font-weight: 400
  font-style: italic
  font-display: swap

@font-face
  font-family: 'Open Sans'
  src: url('global/fonts/open_sans/opensans-regular-webfont.eot')
  src: url('global/fonts/open_sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('global/fonts/open_sans/opensans-regular-webfont.woff2') format('woff2'), url('global/fonts/open_sans/opensans-regular-webfont.woff') format('woff'), url('global/fonts/open_sans/opensans-regular-webfont.ttf') format('truetype'), url('global/fonts/open_sans/opensans-regular-webfont.svg#Open+Sans') format('svg')
  font-weight: 400
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Anonymous Pro'
  src: url('global/fonts/anonymous_pro/anonymous_pro-webfont.eot')
  src: url('global/fonts/anonymous_pro/anonymous_pro-webfont.eot?#iefix') format('embedded-opentype'), url('global/fonts/anonymous_pro/anonymous_pro-webfont.woff2') format('woff2'), url('global/fonts/anonymous_pro/anonymous_pro-webfont.woff') format('woff'), url('global/fonts/anonymous_pro/anonymous_pro-webfont.ttf') format('truetype'), url('global/fonts/anonymous_pro/anonymous_pro-webfont.svg#Anonymous+Pro') format('svg')
  font-weight: normal
  font-style: normal
  font-display: swap


@font-face
  font-family: 'Font Awesome'
  src: url('global/fonts/fontawesome/fa-solid-900.eot')
  src: url('global/fonts/fontawesome/fa-solid-900.eot?#iefix') format('embedded-opentype'), url('global/fonts/fontawesome/fa-solid-900.woff2') format('woff2'), url('global/fonts/fontawesome/fa-solid-900.woff') format('woff'), url('global/fonts/fontawesome/fa-solid-900.ttf') format('truetype'), url('global/fonts/fontawesome/fa-solid-900.svg#Anonymous+Pro') format('svg')
  font-weight: 900
  font-style: normal
