@import "../../global/styles/colors"

footer
  background: $off-black
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  padding: 2em
  background: #222426
  color: #fff

  a, a:visited, a:active, a:hover
    color: #fff
    text-decoration: none
    margin: 1em
    transition: color 0.10s ease-out

  a:hover
    color: $light-blue
