$bullet-size: 12px

.timeline

  &-item
    padding: 0 0 1em 3em
    border-left: 3px #e5e5d1 solid
    position: relative
    &::before
      content: ''
      width: $bullet-size
      height: $bullet-size
      background: #6fc173
      position: absolute
      left: -(($bullet-size / 2) + 2)
      border: 1px solid white
      border-radius: 50%
    @media (min-width: 800px)
      display: flex
      justify-content: space-between
      border-width: 0
      padding: 0
      &::before
        display: none

  &-left
    font-size: 0.75em
    margin-bottom: 10px
    @media (min-width: 800px)
      flex-basis: 120px
      text-align: right

  &-content
    @media (min-width: 800px)
      flex-basis: 500px
      position: relative
      border-left: 3px #e5e5d1 solid
      padding: 0 0 2em 2em
      &::before
        content: ''
        width: $bullet-size
        height: $bullet-size
        background: #6fc173
        position: absolute
        left: -(($bullet-size / 2) + 2)
        border: 1px solid white
        border-radius: 50%

  &-date
    font-weight: 700

  &-sub

  &-title
    font-weight: 700
    margin-bottom: 5px
