$browse-black: #383737
$browse-grey: #ccc

.browse
  font-size: .85em
  overflow: hidden

  background: $browse-grey
  color: $browse-black
  box-sizing: border-box
  border-radius: 0.25em

  &.browse-shadow
    box-shadow: 1em 2em 5em #555

  .browse-bar
    display: flex
    align-items: center

    ul.browse-ctrs
      display: inline
      list-style: none inside
      padding: 0
      margin: 0

      li.browse-ctr
        display: inline-block
        list-style: none inside
        border-radius: 50%
        height: .75em
        width: .75em
        margin: .25em

        &:first-child
          margin-left: 1em
        &:last-child
          margin-right: 1em

        &.browse-close
          background: #fd605b

        &.browse-min
          background: #febe3c

        &.browse-full
          background: #36cd4a

    .browse-address
      flex: 1 1 auto
      background: lighten($browse-grey, 10%)
      border: .1em solid #b8b6b6
      border-radius: .25em
      padding: .25em
      margin: .5em
      overflow: hidden

      .browse-protocol
        color: #1a6925

      .browse-path
        color: #929090

  .browse-screen

    img
      display: block
      width: 100%
