@import "../../../global/styles/colors"

#projects
  font-size: 1.5em

  .project
    margin-bottom: 5em

    &:last-of-type
      margin-bottom: 0

    .browse
      margin-bottom: 3em

    @media (min-width: 800px)
      display: flex
      justify-content: space-between
      .browse
        flex-basis: 45%
        margin-bottom: 0
      .project-body
        flex-basis: 50%

      &:nth-child(odd)
        flex-direction: row-reverse
