@import "../../../global/styles/colors"

#about
  background: linear-gradient($salmon, darken($salmon, 10%))
  border-bottom: darken($salmon, 20%) 1px solid

  .console
    width: 30%
    font-size: 1.2em
    margin: 0 auto 2em

    @media (max-width: 1800px)
      width: 50%

    @media (max-width: 1200px)
      width: 70%

    @media (max-width: 576px)
      width: calc(100% - 2em)
