@import "../../global/styles/colors"

header
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: center

  padding: .25em 4em
  background: $salmon

  svg
    width: 5em
    height: 5em

    path
      fill: $off-black
