@import "../../global/styles/colors"

section
  // display: flex
  // flex-direction: column
  // align-items: center
  padding: 4em 4em

  .title
    text-transform: uppercase
    font-weight: 700
    font-size: 1.5em
    color: $border-grey
    margin-top: -1em
    margin-bottom: 1.5em
    text-align: center
