@import "global/styles/colors"
@import "global/styles/typeography"

body
  font-family: $open-sans
  font-size: 62.5%
  color: $off-black
  background: $off-white
  margin: 0

  @media (max-width: 768px)
    font-size: 50%
