@import "../../../global/styles/colors"

$icon-size: 10em
$icon-color: $off-black

#skills
  background: #F1F1F1

  a
    transition: all 0.15s ease-out
    padding: 2.5em
    svg
      width: $icon-size
      height: $icon-size
      path
        fill: $icon-color
  a:hover
    transform: scale(1.15)
    svg > path
      fill: lighten($icon-color, 10%)
